$block,
.block {
   box-sizing border-box
   padding-left $block-padding
   padding-right $block-padding
}


$block-wrapper,
.block-wrapper {
   box-sizing border-box
   margin-left auto
   margin-right auto
   if ($block-max-width) {
      min-width $block-width
      max-width $block-max-width
   } else {
      width $block-width
   }
}
