html,
body {
   min-width 320px
   height 100%
}
html {
   -webkit-tap-highlight-color rgba(#000, 0)
}
body {
   cursor default
	-moz-osx-font-smoothing: grayscale
   -webkit-font-smoothing: antialiased
   -webkit-text-size-adjust: 100%
   overflow-y scroll
   font-family $font-main
   font-size $size-main
   line-height $line-main
}

.body {
   display flex
   flex-direction column
   &__wrapper {
      overflow hidden
      flex 1 0 auto
      display flex
      flex-direction column
      position relative
      &.is-locked {
         position fixed
         top 0
         bottom 0
         width 100%
      }

      &.is-hide {
         transition opacity $transition-main .3s
         opacity 0
      }
   }
   &__overlay {
      transition opacity $transition-main
      pointer-events none
      opacity 0
      z-index 1199
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba($color-black, .75)
      +do(750) {
         transition-duration 0s
      }
      &.is-opened {
         z-index 1201
         pointer-events auto
         opacity 1
         +do(750) {
            transition-delay .3s
         }
      }
   }
   &__header,
   &__footer,
   &__content {
      flex 0 0 auto
   }
   &__content {
      flex-grow 1
   }
   &__footer {
      margin-top auto
   }
}
