.example {
   background #000
   color #fff
   &__list {
      display flex
      flex-wrap wrap
      margin-bottom -20px
   }
   &__element {
      flex 1 1 50%
      margin-bottom 20px
   }
}
+do(1200) {
   .example {
      &__element {
         flex-basis (100/3)%
      }
   }
}
+do(1000) {
   .example {
      &__element {
         flex-basis 50%
      }
   }
}
+do(750) {
   .example {
      &__list {
         display block
      }
   }
}
+do(500) {
   .example {
      &__list {
         margin-bottom -50px
      }
      &__element {
         &:last-child {
            margin-bottom 50px
         }
      }
   }
}

.example_modificator {
   background #fff
   color #000
}
.example_modificator .example {
   &__element {
      flex-basis 33.333%
   }
}
+do(1000) {
   .example_modificator .example {
      &__list {
         display block
      }
   }
}


.next-block {
   background #000
}
.next-block_white {
   background #fff
}


.another-one {
   display flex
   &__elem {
      flex-basis 50%
      &_full {
         flex-basis 100%
      }
   }
}
+do(500 'min-width') {
   .another-one {
      display none
   }
}
